.newcollection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
   margin-bottom: 100px;
}
.newcollection h1{
    color:#445C35;
     

}
.newcollection hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
 color:#445C35;
 background-color: #445C35;
}
.collections {
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    gap: 100px; /* Adjust the gap between items */
    flex-wrap: wrap; /* Allow wrapping to the next row */
}

.item {
    flex-basis: 15%; /* Each item takes up 25% of the row minus the gap */
    margin-bottom: 20px; /* Space between rows */
}
.new-price {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
    }
.old-price{
    color:#8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
   }
   .more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color:#787878;
    font-weight: 500;
    cursor: pointer;
   }