.item{
    width:25px ;

}
.item p {
    margin: 6px 0px; /* Keeps space between paragraphs */
    white-space: nowrap; /* Prevents text from wrapping into a new line */
    text-overflow: ellipsis; /* Adds "..." if the text is too long for the container */
    width: 100%; /* Makes sure the paragraph takes full width inside the container */
}
.item img {
    width: 200px;
    height:250px;
}
.item-prices {
    display: flex;
    gap:9px;
}

.item-price-new {
color: #374151;
font-size: 18px;
font-weight: 600;
}
.item-price-old{
 color:#8c8c8c;
 font-size: 18px;
 font-weight: 500;
 text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}