.footer {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap if necessary */
    justify-content: center; /* Center the items */
    align-items: center;
    gap: 20px; /* Added gap between sections */
    margin-top: 30px;
}

.footer-logo,
.footer-links,
.footer-social-icons {
    flex-basis: 200px; /* Give each section a fixed width */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    gap: 15px;
}

.footer-logo p {
    color: #383838;
    font-size: 32px;
    font-weight: 700;
}

.footer img {
    width: 60px;
    height: 55px;
}

.footer-links {
    list-style: none;
    gap: 20px;
    color: #252525;
    font-size: 16px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icons {
    gap: 15px;
}

.footer-icons-container {
    padding: 6px;
    padding-bottom: 3px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-icons-container img {
    width: 25px;
    height: 30px;
}

.footer-copyright {
    width: 100%; /* Make the copyright section take full width */
    text-align: center; /* Center the text */
    color: #1a1a1a;
    font-size: 16px;
    margin-top: 20px; /* Add some space above */
}

.footer-copyright hr {
    width: 60%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #c7c7c7;
}
