.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 40px; /* Reduced padding to prevent text from overflowing */
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Aligns the content to the left */
    padding-left: 13px; /* Adds some space on the left */
}

.offers-left h1 {
    color: black;
    font-size: 60px; /* Reduced font-size to prevent overflow */
    font-weight: 600;
    position: relative;
    margin-bottom: 7px; /* Add some space below the h1 */
    line-height: 1.2; /* Tightens up the line spacing */
}

.offers-left p {
    color: black;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 13px; /* Adds space below the paragraph */
}

.offers-left button {
    width: 200px;
    height: 50px; /* Reduced height for better proportion */
    border-radius: 35px;
    background: #c37d75;
    border: none;
    color: aliceblue;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    padding: 12px;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.offers-right img{
    height: 400px;
    margin-top: 40px;
}